.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-success {
  background-color: #d4edda; /* Soft green for success */
  color: #155724; /* Dark green text for better contrast */
  border-left: 5px solid #28a745; /* Bright green border for emphasis */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.modal-warning {
  background-color: #fff3cd; /* Soft yellow for warning */
  color: #856404; /* Dark yellow text for better contrast */
  border-left: 5px solid #ffc107; /* Bright yellow border for emphasis */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.modal-danger {
  background-color: #f8d7da; /* Soft red for danger */
  color: #721c24; /* Dark red text for better contrast */
  border-left: 5px solid #dc3545; /* Bright red border for emphasis */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}


